<ion-content [fullscreen]="true" ng-app="myApp" ng-controller="myController">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    </div>
  <ion-form name="convert" >
    <div>
      <ion-label><h1>Calculadora de Bases</h1></ion-label>
      <br><br>
    </div>

    <div>
      
      <ion-input type="text" id="decimal" size="7"  [(ngModel)]="decimal" placeholder="Decimal"></ion-input>
    </div>

    
    <div>      
      <ion-input type="text" id="binario" size="7" [(ngModel)]="binary" placeholder="Binário"></ion-input> 
    </div>

    <div>      
      <ion-input type="text" id="octal" size="7" [(ngModel)]="octal" placeholder="Octal" ></ion-input>
    </div>

   

    <div>     
      <ion-input type="text" id="hexadecimal" size="7" [(ngModel)]="hexa" placeholder="Hexadecimal"></ion-input>
    </div>
        
    </ion-form>
</ion-content>
